.container {
  background-color: #F5F7FA;
}

.bg-white {
  background-color: white;
}

.inlb {
  display: inline-block;
}

.chk-box {
  position: absolute;
  top: 25px;

}

.pos-rel {
  position: relative;
}

.mgn-left-md {
  margin-left: 20px;
}

.port-input {
  margin-left: 10px;
  width: 60px;
}

.mgn-left-sm {
  margin-left: 10px;
}

.add-circle {
  position: absolute;
  top: 20px;
  font-size: 15px;
  cursor: pointer;
}

.pd-top-sm {
  padding-top: 10px;
}

.pd-top-btm-sm {
  padding: 10px 0;
}

.pd-top-btm-md {
  padding: 20px 0;
}

.pd-left-sm {
  padding-left: 10px;
}

.pos-down-sm {
  position: absolute;
  top: 10px;
}

.ctnr-cntrd-md {
  width: 350px;
  margin: 35px auto;
}

.full-width {
  width: 100%;
}